.header {
    margin-bottom:1.75rem;
    text-align: center;
}

.header h2:global(.title) {
    margin-bottom: 0;
}

.header p {
    color: var(--black);
    font-size: .9rem;
}

.changeForm {
    cursor: pointer;
}

.changeForm:hover {
    text-decoration: underline;
}

.changeForm.contact {
    color: var(--green); 
}

.changeForm.report {
    color: var(--red);
}

.form {
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.wrapper input {
    height: 34px;  
    border: none;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    padding-left: 8px;
    align-items: center;
}

.wrapper input::placeholder, .wrapper textarea::placeholder {
    font-size: 1rem;
    color: var(--placeholder);
    font-family: 'Fira Sans';
}

.wrapper textarea {
    min-height: 100px;
    height: 120px;
    max-height:160px;
    resize: vertical;  
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: 8px;
    align-items: center;
}

.wrapper label {
    text-align: left;
    line-height: 34px;
}

.wrapper.btn {
    display: block;
    text-align: center;
}

.wrapper.btn button {
    width: 200px;
    height: 34px;
    border: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    font-family: 'Fira Sans';
    font-weight:600;
    font-size: 1.10rem;
    letter-spacing: 1px;
    transition: background-color .3s, border-color .3s, color .3s;
}

.wrapper.btn button:hover {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
}

.wrapper :global(.formError){
    border-color: var(--red);
    border-width: 2px;
    color: red !important;
    font-weight: bold !important;
}