#howHelpUs {
    background-image: url("../../../assets/images/kids.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    z-index: 1;
}

#howHelpUs :global(.container-min) {
    position: relative;
    z-index: 2;
}

#howHelpUs p {
    color: var(--text);
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

#howHelpUs :global(.container-min) div {
    text-align: center;
}

#howHelpUs a {
    font-size: 1.5rem;
    color: var(--white);
    border: 1px solid var(--white);
    padding: .5rem 2rem;
    border-radius: 20px;
    transition: background-color .3s, font-weight .3s, color .3s;
}

#howHelpUs a:hover {
    font-weight: bold;
    background-color: var(--white);
    color: var(--black);
}