:root {
    --white: #FAF7FF;
    --black: #0c0c0c;
    --white-background: #F3EED9;
    --text: #C9C9C9;
    --placeholder: #2F2F2F;
    --footer: #2B2E32;
    --blue: #0D5FEB;
    --green: #00AD50;
    --red: #FF4E68;
}