* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

html, body {
    background-color: var(--white-background);
    overflow-x: hidden;
}

#master-posts {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
        "header header"
        "aside content"
        "footer footer";
}

h2.title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1.75rem;
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.container-min {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

section {
    padding: 30px 0;
}

h1, h2, h3, a{
    font-family: 'Fira Sans';
    font-weight: 300;
}

p, span, label, button {
    font-family: 'Open Sans';
    font-weight: 400;
}

.red {
    color: var(--red)!important;
}

.blue {
    color: var(--blue)!important;
}


@media (max-width: 1080px){
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 850px){
    #master-posts {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "aside"
            "content"
            "footer";
    }
}
@media (max-width: 720px){
    html {
        font-size: 87.5%;
    }
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 100px;
    border-right: 4px solid var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 100px;
    border-right: none;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black-hover);
}
::-webkit-scrollbar-thumb:active {
    background: var(--black-click);
}
::-webkit-scrollbar-track {
    background: var(--white);
    border: 0px none var(--white);
    border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
    background: var(--white);
}
::-webkit-scrollbar-track:active {
    background: var(--text);
}
::-webkit-scrollbar-corner {
    background: transparent;
}